<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HSS KI WebGUI</title>
    <link rel="stylesheet" href="static/css/HSS.css" >
</head>

<body>
 <header class="header">
    <img src="static/HSS Logo.png" class="navlogo" height='50px'>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="{{ url_for('main.index_get') }}" class="navbar-item">Home</a></li>
        <li><a href="{{ url_for('textki.text_get') }}" class="navbar-item">Data Classification</a></li>
        <li><a href="{{ url_for('imageki.picture_get') }}" class="navbar-item">Image Classification</a></li>
    </ul>

</header>

        <div class="hss-body">
               {% block content %}
               {% endblock %}
        </div>
</body>

</html>