{% extends "base.html" %}

{% block content %}
<h1 class="title">
  HSS Simple WebGUI for KI Applikations
</h1>
<h2 class="subtitle">
  Subtitel
</h2>

    <form action="/" method="POST">
      {% for field in inputfields %}
          <div class="input_field">
              <label for={{field[0]}}>{{field[1]}}</label>
              <input type="text" name={{field[0]}} id={{field[0]}}>
          </div>
      {% endfor %}

      <button name="submit" type="submit">Submit</button>
      <button name="reset" type="reset">Abbrechen</button>


{% endblock %}